<style>
  .jumbotron {background:url(<%= image_url 'classified.jpg' %>) no-repeat right;}
</style>

<div class="container">
  <div class="jumbotron">
    <h1>S and S Market</h1>
  </div>
</div>

<div class="row">

  <% @categories.each do |category| %>
    <div class="col-xs-2">
        <%= image_tag(category.category_photo.url(:thumb), alt: "Electronics For Sale", size: "100x50") %>
        <br>
        <%= link_to category.name.capitalize, category_path(category.id), :class => "btn btn-info" %>
    </div>
  <% end %>

</div>
