<div class="container">
<div class="jumbotron">
  <h1>S and S Market</h1>
  <p><a class="btn btn-primary btn-lg" href="/categories/new" role="button">Categories</a>
  <a class="btn btn-primary btn-lg" href="/items/new" role="button">Items</a></p>
</div>
</div>






